/*for debug only*/
/* 	div {
		border-style: dashed;
		border-width: 1px;
	} */

	div#base-wrapper {
		width: 1280px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		
	}
	
	div#canvas-wrapper {
		box-shadow: 0 0 5px #888888;
		position: relative;
		width: 1280px;
		height: 720px;
	}
	
	canvas {
		position: absolute;
		left: 0;
		top: 0;
	}
	canvas#canvas0{
		z-index: 0;
	}
	canvas#canvas1{
		z-index: 1;
	}
	canvas#canvas2{
		z-index: -1;
	}
	
	