/*for debug only*/
/* 	div {
		border-style: dashed;
		border-width: 1px;
	} */

	div#base-wrapper {
		width: 1280px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		
	}
	
	div#canvas-wrapper {
		box-shadow: 0 0 5px #888888;
	}